.color__primary--050 {
  color: $primary-050;
}

.color__primary--100 {
  color: $primary-100;
}

.color__primary--200 {
  color: $primary-200;
}

.color__primary--300 {
  color: $primary-300;
}

.color__primary--400 {
  color: $primary-400;
}

.color__primary--500 {
  color: $primary-500;
}

.color__primary--600 {
  color: $primary-600;
}

.color__primary--700 {
  color: $primary-700;
}

.color__primary--800 {
  color: $primary-800;
}

.color__primary--900 {
  color: $primary-900;
}
