$primary-050: #F0F4F8;
$primary-100: #D9E2EC;
$primary-200: #bCCCDC;
$primary-300: #9Fb3C8;
$primary-400: #829Ab1;
$primary-500: #627D98;
$primary-600: #486581;
$primary-700: #334E68;
$primary-800: #243b53;
$primary-900: #102A43;  
